@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To JamFlixx</h1>
    <p>Where All Your Favourite Movies Come To Life.</p>
</div>
